@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Almendra+Display&family=Pacifico&family=Scope+One&family=Ultra&family=Yeseva+One&display=swap');
</style>

body{
  font-family: 'Pacifico';
}
.compteFox p {
  font-family: 'Scope One';
  margin-bottom: 0em;
  color:white;
}
.fableBear p {
  font-family: 'Scope One';
  margin-bottom: 0em;
  color:white;

}
h1
{
  font-family: 'Alfa Slab One';
  font-size: 4em;
  padding-left: 20px;
}

h2
{

  font-family: "Ultra";
  font-size: 7em;
  color: white;
justify-content: flex-start;

}

.and {
  font-family: 'Ultra';
  font-size: 40px;
}
h3
{
  color: rgb(165, 209, 82);
font-family: 'Yeseva One';

}
.TheGoat
{
font-family: 'Almendra Display';

}
.QuoteBear {
  font-family: "Yeseva One";
  font-weight :bolder;
  color:rgb(145, 40, 59);
}
h4{
font-family: 'Scope One' ;
  color:black;
  font-size: 14px;
